.center {
    text-align: center;
    height: auto;
    background : url("../Final checkpoint-res/ONLINE-PHARMACY-BUSINESS-AND-REVIEWS.jpg") ;
    background-size: cover;
    /*filter: blur(5px);*/
}
.features-jumbotron {
    height: 400px;
    text-align: center;
    color:white;
}
.name-brand {
    font-weight: 500;
}
.text {
    font-weight: lighter;
    font-size: 40px;
}
.title {
    font-weight: 400;
}
.text-btn {
    color: black !important;
    /*font-weight: 450 !important;*/
}
.card-border {
/*
    border: 0.5px solid grey;
*/
    padding-top: 20px;
    padding-bottom: 20px;
/*    border-radius: 20px;*/
}
.card-button:hover {
    background-color: white !important;
    color:green !important;
}
.card-text {
    font-weight: 300;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
  box-shadow: 0 20px 28px rgba(0,0,0,0.25), 0 20px 10px rgba(0,0,0,0.22);
}
.paragraph {
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}
.title-fluid {
    text-align: center;
    font-weight: 400;
}
.jumbo-text {
    margin-top: 90px;
    color:black;
    border:1px solid grey;
    padding-right:20px;
}
.jumbo-row {
    justify-content: center;
}
.jumbo-header {
    background: url("../Final checkpoint-res/workspace.jpg");
    background-size: cover;
    /*max-width:auto;
    height:auto;*/
}
.nothing-container {
    margin-top: 10px;
    text-align: center;
}
.partners-row {
    display: flex;
    flex-direction: row;
}
.x {
    flex-direction: column;
    flex:1;
    text-align: center;
}
.group-name {
    font-weight: 500;
}
.y {
    display: flex;
    flex-direction: row;
}
.search-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tac {
    text-align: center;
}
.mt-product {
    margin-top:20px;
}
.input {
    width: 250px;
}
.modal_body {
    padding:20px;
    text-align: justify;
}
/*.icn {
    padding : 20px;
    background-color:white;
}*/
.account-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom:20px;
}
.profile-container {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
}
.picture-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-name {
    font-weight: lighter;
}
.profile-informations {
    border:1px solid black;
    height: 50%;
    /*padding-left:50px;*/  
}
.info {
    display:flex;
    flex-direction: row;
    border:1px solid pink;
    align-content: center;
    margin-top: 10px;
}
.info-data {
    margin-left: 10px;
}
.buttons {
    text-align: center;
}